/*header */
.header-background {
  background: url(../assets/background.png);
  background-size: cover;
  height: 550px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  padding-top: 70px;
  height: 100px;
}

.title-container {
  align-items: center;
  color: var(--font-default);
  font-size: 3em;
  font-weight: bold;
  padding: 70px 0px 70px 0px;
  text-align: center;
}

.btn {
  padding: 15px;
  width: 15%;
}

.btn-header {
  background-color: var(--font-default);
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--font-details);
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

.btn-header:hover {
  transform: scale(1.2);
}

.btn-header:focus {
  outline: none;
  background-color: var(--background);
}

/*main-section-categories*/

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.category-card {
  transition: 0.3s;
  box-shadow: var(--box-shadow);
  height: 40vh;
}

.category-card:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nature-card {
  background-image: url(../assets/nature.png);
  background-size: cover;
  grid-area: nature;
}

.daily-card {
  background-image: url(../assets/daily.png);
  background-size: cover;
  grid-area: daily;
}

.together-card {
  background-image: url(../assets/together.png);
  background-size: cover;
  grid-area: together;
}

.analisys-card {
  background-image: url(../assets/analisys.png);
  background-size: cover;
  grid-area: analisys;
}

.picture-card {
  background-image: url(../assets/pictures.png);
  background-size: cover;
  grid-area: picture;
}

.categories-container {
  display: grid;
  grid-template-columns: 30vw 30vw 30vw;
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-areas:
    "nature daily daily"
    "together together together"
    "analisys analisys picture";
}

.card-content {
  color: var(--font-default);
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.card-content h3 {
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 20px;
}

.card-content p {
  font-weight: bold;
}

.together {
  margin-top: 90px;
}
.analisys {
  flex-direction: column;
  align-items: flex-end;
}

.categories-title {
  color: var(--font-details);
  font-weight: bold;
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 20px;
}

.categories-p {
  color: var(--font-details);
  font-weight: bold;
  margin-bottom: 50px;
}

/*growth section*/

.growth {
  margin-top: 90px;
  background-color: var(--background);
}

.growth-container {
  flex-grow: 1;
  padding: 60px 60px 0px 60px;
  margin-bottom: 0;
}

.growth-cards {
  background-color: var(--background);
  display: flex;
  margin: 10px 0px 0px 0px;
  align-items: flex-end;
  height: 500px;
  padding-bottom: 50px;
}

.growth-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 30%;
  color: var(--font-default);
  background-color: var(--secondary);
}

.growth-content {
  background-color: var(--primary);
  height: 50px;
  text-align: center;
  font-weight: bold;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.growth-card p {
  padding: 15px;
  margin: auto;
  margin-bottom: 0;
}

.growth-card h3 {
  font-size: 2em;
  margin-bottom: 5px;
}

.card-a {
  height: 40%;
}

.card-b {
  height: 50%;
}

.card-c {
  height: 60%;
}

.card-d {
  height: 70%;
}

.card-e {
  height: 80%;
}

.card-f {
  height: 90%;
}

button {
  scroll-behavior: smooth;
}
